button {
    height: 40px;
    padding: auto;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #FFF;
    background-color: rgb(240, 30, 44);
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    border: 1px solid rgb(250, 117, 126);
}

button:active {
    background-color: rgb(246, 58, 71);
}

.editor-outer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #444;
}

#editor {
    border: none;
    border-radius: 5px;
    text-align: left;
    word-wrap: break-word;
    height: calc(100% - 80px);
    padding: 20px;
    resize: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #EEE;
    background-color: #333;
}

#editor::-webkit-scrollbar {
    width: 10px;
}

#editor::-webkit-scrollbar-track {
    background: #222;
}

#editor::-webkit-scrollbar-thumb {
    background: #666;
}

#editor::-webkit-scrollbar-thumb:hover {
    background: #888;
}